/* Basic Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* By default, it shows the desktop version and
hides the mobile */
.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}


@media (max-width: 768px) {
  /* For mobile, hides the desktop version and
  shows the mobile version */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }


  /* TeamSection -- will delete later */
  .teams-container {
    flex-direction: column;
  }

  .team-section:first-child {
    border-right: none;
    border-bottom: 2px solid gray;
    margin-top: 0;
    margin-bottom: 0;

  }
}