* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Scoreboard styles */
.scoreboard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.team-name {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.justify-right {
  justify-content: end;
}

.justify-left {
  justify-content: start;
}

.team-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.total-score {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  border: 3px solid #333;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

/* Teams sections container */
.teams-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.team-section {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* This is the Hustle column */
.team-section:first-child {
  border-right: 2px solid gray;
}

.team-section h2 {
  font-size: 28px;
  text-align: center;
}

.team-stat-name {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

/* Stats row - Earned and Errors side-by-side */

.stats-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.stat-item p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Buttons row - aligned below labels and side-by-side with each other*/

.buttons-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
}

button {
  font-size: 20px;
  padding: 15px 30px;
  border: 1px solid #333;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}