/* DESKTOP Scoreboard styling */

.scoreboard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.scores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.team-name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 36px;
    font-weight: bold;
    min-width: 150px
}

.score-numbers {
    display: flex;
    align-items: center;
    padding: 0px 15px;

    color: white;
    font-size: 48px;
    font-weight: bold;
}

.team-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.set-display {
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -20px;
    margin-bottom: -40px;

}

.run-display {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: #AAA075;
    margin-right: 75px;
    margin-left: 75px; 
}

.hustle-run-display p:nth-child(2) {
    font-size: 15px;
    margin-top: 5px;
}

.other-run-display p:nth-child(2) {
    font-size: 15px;
    margin-top: 5px;
}