/* Styling for DESKTOP TeamSection */

.teams-container-desktop {
    display: flex;
    flex: 1;
    min-height: 0;
}

.team-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 60vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0.3, 0.3);
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
  
}


/* Earned and Errors SIDE BY SIDE */
.stat {
    display: flex;
    justify-content: space-around;
}

.stat-item p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-right: 25px;
}


/*Buttons side by side and aligned below stats */
.stat-buttons {
    display: flex;
    justify-content: space-around;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-subtract {
    background-color: #555555;
}

.button-add {
    background-color: #333333
}


/* Button styling */

button {
    font-size: 20px;
    padding: 15px 30px;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0.3, 0.3);
}

button:active {
    transform: scale(0.95);
}
