/* Styling for DESKTOP TeamSection */

.teams-container {
    display: flex;
    flex: 1;
    width: 100%;
}

.team-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-section:first-child {
    border-right: 2px solid gray;
}

/* Earned and Errors SIDE BY SIDE */
.stat {
    display: flex;
    justify-content: space-around;
}

.stat-item p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}


/*Buttons side by side and aligned below stats */
.stat-buttons {
    display: flex;
    justify-content: space-around;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-subtract {
    background-color: #555555;
}

.button-add {
    background-color: #333333
}


/* Button styling */

button {
    font-size: 20px;
    padding: 15px 30px;
    border: 1px solid #333;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}