/* MOBILE TeamSection Styling */

.team-section-mobile {
    padding: 20px;
    color: white;
}

.team-section-mobile:first-child {
    border-bottom: 2px solid gray;
}

.team-name-mobile h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}


.stat-row-mobile {
    display: flex;
    align-items: center;
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    gap: 15px;
}

.button-subtract {
    background-color: #555555;
    color: white;
}

.button-add {
    background-color: #333333;
    color: white;
}